<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manage my Home - Hackney Council</title>
    <meta name="importmap-type" content="systemjs-importmap" />
    <script type="systemjs-importmap">
        {
            "imports": {
                "formik": "/<%= htmlWebpackPlugin.files.js[1] %>",
                "yup": "/<%= htmlWebpackPlugin.files.js[2] %>",
                <% if (!isLocal) { %>
                "single-spa": "https://cdnjs.cloudflare.com/ajax/libs/single-spa/5.9.0/umd/single-spa.min.js",
                "react": "https://cdnjs.cloudflare.com/ajax/libs/react/17.0.1/umd/react.production.min.js",
                "react-dom": "https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.1/umd/react-dom.production.min.js",
                "react-router-dom": "https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.2.0/react-router-dom.min.js"
                <% } else { %>
                "single-spa": "https://cdnjs.cloudflare.com/ajax/libs/single-spa/5.9.0/umd/single-spa.dev.js",
                "react": "https://cdnjs.cloudflare.com/ajax/libs/react/17.0.1/umd/react.development.js",
                "react-dom": "https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.1/umd/react-dom.development.min.js",
                "react-router-dom": "https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.2.0/react-router-dom.js"
                <% } %>
            }
        }
    </script>
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">
    <script type="systemjs-importmap">
        {
            "imports": {
                "@mtfh/root-config": "/<%= htmlWebpackPlugin.files.js[0] %>",
                "@mtfh/personal-details": "<%= PERSON_DETAILS_APP_URL %>?v=<%= VERSION %>",
                "@mtfh/comments": "<%= COMMENTS_APP_URL %>?v=<%= VERSION %>",
                "@mtfh/property": "<%= PROPERTY_APP_URL %>?v=<%= VERSION %>"
            } 
        }
    </script>
    <script type="systemjs-importmap" src="<%= COMMON_APP_URL %>/import-map.json"></script>
    <script type="systemjs-importmap" src="<%= AUTH_APP_URL %>/import-map.json"></script>
    <script type="systemjs-importmap" src="<%= HEADER_APP_URL %>/import-map.json"></script>
    <script type="systemjs-importmap" src="<%= SEARCH_APP_URL %>/import-map.json"></script>
    <script type="systemjs-importmap" src="<%= TENURE_APP_URL %>/import-map.json"></script>
    <script type="systemjs-importmap" src="<%= ACTIVITIES_APP_URL %>/import-map.json"></script>
    <script type="systemjs-importmap" src="<%= PROCESSES_APP_URL %>/import-map.json"></script>
    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
    <style>
        .lbh-skip-link {
            color: #ffffff 
        }
    </style>
    <template id="single-spa-layout-authorised">
        <single-spa-router containerEl=".mtfh-container">
        <application name="@mtfh/header" loader="header" error="header"></application>
            <main class="mtfh-main-wrapper" id="main-content">
                <div class="container-max-width">
                    <route default>
                        <application name="@mtfh/search"></application>
                    </route>
                    <route path="login">
                        <application name="@mtfh/auth"></application>
                    </route>
                    <route path="person">
                        <application name="@mtfh/personal-details"></application>
                    </route>
                    <route path="comment">
                        <application name="@mtfh/comments"></application>
                    </route>
                    <route path="tenure">
                        <application name="@mtfh/tenure"></application>
                    </route>
                    <route path="activities">
                        <application name="@mtfh/activity-history"></application>
                    </route>                    
                    <route path="property">
                        <application name="@mtfh/property"></application>
                    </route>                       
                    <route path="processes">
                        <application name="@mtfh/processes"></application>
                    </route>                       
                </div>
            </main>
            <footer class="mtfh-footer">
                <div class="mtfh-footer__section --primary">
                    <ul class="mtfh-footer__menu">
                        <li class="mtfh-footer__menu-item"><a class="lbh-link" href="https://forms.gle/5kUGcRYFwwaZWrGs8" target="_blank" rel="noopener">Report an issue</a></li>
                        <li class="mtfh-footer__menu-item"><a class="lbh-link" href="https://forms.gle/yM7zCKYZcuVzSXkC6" target="_blank" rel="noopener">Make a suggestion</a></li>
                        <li class="mtfh-footer__menu-item"><a class="lbh-link" href="https://drive.google.com/file/d/1BMtaHV7Tz4rKmmUSF1_RPjY9f00wbL5N/view?usp=sharing" target="_blank" rel="noopener">Accessibility statement</a></li>
                    </ul>
                </div>
                <div class="mtfh-footer__section"></div>
            </footer>
        </single-spa-router>
    </template>

    <template id="single-spa-layout-public">
        <single-spa-router containerEl=".mtfh-container">
            <application name="@mtfh/header" loader="header" error="header"></application>
            <main class="mtfh-main-wrapper" id="main-content">
                <div class="container-max-width">
                    <route default>
                        <application name="@mtfh/auth"></application>
                    </route>
                </div>
            </main>
            <footer class="mtfh-footer">
                <div class="mtfh-footer__section --primary">
                    <ul class="mtfh-footer__menu">
                        <li class="mtfh-footer__menu-item"><a class="lbh-link" href="https://forms.gle/5kUGcRYFwwaZWrGs8" target="_blank" rel="noopener">Report an issue</a></li>
                        <li class="mtfh-footer__menu-item"><a class="lbh-link" href="https://forms.gle/yM7zCKYZcuVzSXkC6" target="_blank" rel="noopener">Make a suggestion</a></li>
                        <li class="mtfh-footer__menu-item"><a class="lbh-link" href="https://drive.google.com/file/d/1BMtaHV7Tz4rKmmUSF1_RPjY9f00wbL5N/view?usp=sharing" target="_blank" rel="noopener">Accessibility statement</a></li>
                    </ul>
                </div>
                <div class="mtfh-footer__section"></div>
            </footer>
        </single-spa-router>
    </template>
</head>

<body class="govuk-template__body">
    <a
    href="#content"
    class="govuk-skip-link lbh-skip-link">
        Skip to main content
    </a>
    <div class="mtfh js-enabled"> 
        <div class="mtfh-container">
            <!-- Here are injected the microfrontends -->
        </div>
    </div>
    <script>
        System.import('@mtfh/root-config');
    </script>
</body>
</html>
